{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/item/itemPage.css' %}" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="{% static 'js/item/itemPage.js' %}"></script>
    <script src="https://kit.fontawesome.com/04d19e7b2e.js" crossorigin="anonymous"></script>
    <title>Barrow</title>
</head>

<body>
    
        <div class="container">
            <div class="menu_list">
                <span>
                <a href="{% url 'barrow:home' %}">홈</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="{% url 'barrow:category' item.get_category_display '최신순' %}" >{{item.get_category_display}}</a>
                <i class="fa-solid fa-angle-right"></i>
                </span>
            </div>

            <div class="item_box">
                <div class="item_album">
                    <div class="item_pic">
                        {% for img in item_images %}
                            <img class="pics" src="{{img.image}}">
                        {% endfor%}
                        
                    </div>
                    <div class="pic_btns">
                        
                    </div>

                </div>
                <div class="item_info">

                    <div class="item_title">
                        <h1>{{item.title}}</h1>
                    </div>
                    <div class="item_price">
                        <p><span id="price_font">{{item.price}}</span></p>
                        <p>원 / </p>
                        <p>{{item.get_price_per_display}}</p>
                    </div>
                    <hr class="hr-light">
                    <div class="item_view">
                        <p>조회 {{item.views}}</p>
                        <p> • </p>
                        <p>찜 {{favorite}}</p>
                        <p> • </p>
                        <p>{{item.get_created}}</p>
                    </div>

                    <div class="item_details">
                        <li> 대여기간 <span class="item_details_date"><i class="fa-solid fa-calendar"></i>  {{item.get_start_date}} ~ {{item.get_end_date}}</span></li>
                        <li> 거래지역 <span class="item_details_text">{{item.area}}</span> </li>
                        <li> 거래방법 <span class="item_details_text">{{item.get_type_display}}</spap> </li>
                    </div>

                    <!--타인의 아이템-->
                    <div class="item_buttons">
                        <button class="mid_btn" id="love"> ♥ 찜 {{favorite}}</button>
                        <button class="mid_btn" id="chat">채팅 보내기</button>
                        <button class="mid_btn" id="apply" onclick = "location.href = '{% url 'deal:new' item.id %}'">대여 신청하기</button>
                    </div>

                    <!-- 내 아이템
                    <div class="item_buttons">
                        <button class="mid_btn" id="love"> 수정하기 </button>
                        <button class="mid_btn" id="chat"> 삭제하기 </button>
                        <button class="mid_btn" id="apply">대여 수락하기</button>
                    </div>
                    -->
                    
                    <!-- 대여중 아이템
                    <div class="item_requested">
                        <p>현재 대여중인 상품입니다.</p>
                        <p>반납 예정일은 <span id="returnDay">22.12.01</span> 입니다.</p>
                    </div>
                    -->

                    <!-- 수락 대기
                    <div class="item_requested">
                        <p id="wait">현재 신청 수락을 기다리고 있는 상품입니다.</p>
                    </div>
                    -->

                </div>

            </div>
            <div class="lender_info">
                <div>
                    <img class="lender_portrait" src = "{{item.productor.image}}">
                </div>
                <p>{{item.productor.name}}님의 대여 상품입니다</p>
            </div>
            <div class="item_memo">
                <h2>상세 설명</h2>
                <hr class="hr-light">
                <div class="item_memo_text">
                    <p>
                        {{item.memo}}
                        숨 을 곳도 찾지 못해 나는 피하려고 애써봐도<br>
                        거부조차 할 수 없는 네개 갇혀버린 나<br>
                        사랑이었다면 정말 사랑했던 거라면 내개 이러지는 말아<br>
                        Her whisper is the Lucifer-fer-fer<br>
                        The Lucifer<br>
                    </p>
                </div>
                <hr class="hr-light">
            </div>
            <!--수락 대기중일 때
            <div class="reject_button">
                <button class="mid_btn" id="love"> 신청 취소하기 </button>
            </div>
            -->

        </div>
    </section>
</body>
<script type="text/javascript">
    var itemPrice = "{{item.price}}";
</script>

</html>
{% endblock %}