{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{% static 'js/asset/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/item/itemRegister.css' %}" />
    <script type="text/javascript" src="{% static 'js/item/itemRegister.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Barrow</title>
</head>

<body>
    
        <div class="container">

            <div class="item_body">
                <div class="item_body_title">
                    <img class="barrow_clipboard" src="{% static 'img/img/fluent-emoji_clipboard.png' %}">
                    <h1>빌려주기</h1>
                </div>
                <hr class="hr-normal">
                <form name="item_register" id="item_register" method="post" action = "{% url 'products:new' %}">
                    <div class="pic_body">
                        <div class="pic_box"></div> 
                        <input type="file" class="img_upload" accept="image/*" required multiple style="display: none;">
                        <button class="small_btn" type="button" onclick="img_click()">파일 선택</button>
                    </div>
    
                    <div class="item_register_box1">

                        <div class="item_register_flex">
                            <li><label for="title">제목</label></li>
                            <input type="text" name="title" id="title" maxlength="120" placeholder="120자 이내로 입력해주세요">
                        </div>
                        <hr class="hr-light">
                        <div class="item_register_flex">
                            <li>
                                <label for="area">거래지역</label></li>
                                <input type="text" name="area" id="area">
                                <button type="button" id="area_btn" onclick="findAddr()">주소<br>찾기</button>
                                <input type="text" name="area_detail" id="area_detail" placeholder="상세주소 입력">
                        
                        </div>
                        <hr class="hr-light">
                        <div class="item_register_flex">
                            <li><label>거래방법</label></li>
                            <div class="radio_types">
                                <li>
                                    <input type="radio" name="type" id="type_1" value="10" checked>
                                    <label for="type_1">택배만</label>

                                    <input type="radio" name="type" id="type_2" value="01">
                                    <label for="type_2">직거래만</label>
                                
                                    <input type="radio" name="type" id="type_3" value="11">
                                    <label for="type_3">둘 다</label>
                                </li>
                            </div>
                        </div>
                        <hr class="hr-light">
                        <div class="item_register_flex">
                            <li><label for="price">가격</label></li>
                            

                            <div class="radio_types">
                                
                                <input type="text" name="price" id="price" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                <span class="word"> 원 </span>
                                <input type="radio" name="price_per" id="price_per1" value="PER_DAY" checked>
                                <label for="price_per1">DAY</label>
                        
                                <input type="radio" name="price_per" id="price_per2" value="PER_WEEK">
                                <label for="price_per2">WEEK</label>
                      
                                <input type="radio" name="price_per" id="price_per3" value="PER_MONTH">
                                <label for="price_per3">MONTH</label>
                            </div>
                        </div>
                        <hr class="hr-light">
                        <div class="item_register_flex">
                            <li><label>대여기간</label></li>
                            <input type="date" name="start_date">
                            <span class="word"> 부터 </span>
                            <input type="date" name="end_date">
                            <span class="word"> 까지 </span>
                        </div>
                        <hr class="hr-light">
                        <div class="item_register_flex">
                            <li><label>카테고리</label></li>
                                <select name="category" id="category">
                                    <option selected disabled>선택</option>
                                    <option value="CLOTHES" >의류</option>
                                    <option value="SHOES">신발</option>
                                    <option value="TRAVELS">여행용품</option>
                                    <option value="BAGS">가방</option>
                                    <option value="CARRIERS">캐리어</option>
                                    <option value="SPORTS">스포츠</option>
                                    <option value="LEISURES">레저</option>
                                    <option value="HOMES">가전</option>
                                    <option value="FURNITURES">가구</option>
                                    <option value="ELECTRONICS">전자제품</option>
                                    <option value="CASUALS">캐주얼</option>
                                    <option value="OTHERS">기타</option>
                                </select>
                        </div>
                        <hr class="hr-light">
                        <div class="memo">
                            <li><label for="memo">상세설명</label></li>
                            <textarea name="memo" id="memo" cols="20" rows="10"  maxlength="1000" placeholder="1000자 이내로 입력해주세요" ></textarea>
                        </div>
                        <div></div>
                        
                    </div>
                    <div id="hidden_button" >
                        <input type="submit" value="제출하기"/>
                    </div>
                </form>
                <hr class="hr-normal">
                <div class="submit_button" >
                    <input type="submit" id="submit_button" value="제출하기" onclick="checkForm()"/>
                </div>

            </div>

        </div>
    </section>

</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>
{% endblock %}