{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/item/lentAccept.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/04d19e7b2e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    <title>Barrow</title>
</head>

<body>
    
        <div class="container">
            <div class="item_box">
                <div class="item_pic">
                    <img class = "pics" src = "{{item.get_first_image.image.url}}">
                </div>
                <div class="item_info">

                    <div class="item_title">
                        <h1>{{item.title}}</h1>
                    </div>
                    <div class="item_price">
                        <p><span id="price_font">{{ item.price }}</span></p>
                        <p>원 /  </p>
                        <p>{{item.get_price_per_display}}</p>
                    </div>
                    <div class="item_details">
                        <li> 대여기간 <span class="item_details_date"><i class="fa-solid fa-calendar"></i>  {{item.get_start_date}} ~ {{item.get_end_date}}</span></li>
                        <li> 거래지역 <span class="item_details_text">{{item.area}}</span> </li>
                        <li> 거래방법 <span class="item_details_text">{{item.get_type_display}}</spap> </li>
                    </div>
                </div>
            </div>

            <div class="lent_accept">
                <div class="lent_accept_title">
                    <h1>대여 수락하기</h1>
                </div>
                {% for deal in deals %}
                    <hr class="hr-light">
                    <div class="lent_offer_menu">
                        <div class="lent_offer">
                            <div class="offer_inform">
                                <div class="offer_portrait">
                                    <img src="{{deal.user_cons.image.url}}">
                                </div>
                                <div class="offer_name">{{deal.user_cons.name}}님</div>
                                <div class="offer_address">{{deal.user_cons.address}}</div>
                                </div>
                            <div class="offer_days">
                                <li class="offer_start_date">대여기간 : <span>{{deal.get_start_date}} ~ {{deal.get_end_date}}</span></li>
                                <li class="offer_end_date">신청일자 : <span>{{deal.get_created}}</span> </li>
                            </div>
                        </div>
                        <div class="offer_btns">
                            <p id = "deal_id" style = "display:none">{{deal.id}}</p>
                            <button id="chat">채팅<br>보내기</button>
                            <button id="accept">대여<br>수락하기</button>
                            <form method = "POST" action = "{% url 'deal:accept' deal.product.id %}">
                                <input type = "number" name = "id" style = "display: none;" value = "{{deal.id}}">
                                <input id = "submit" type = submit style = "display: none;">
                            </form> 
                            
                        </div>
                    </div>
                    <hr class="hr-light">
                {% endfor %}
            </div>
        </div>

    </div>
    </section>
    
    <script>
        var itemPrice = "{{ item.price }}";
        var dates = "{{reservesd}}"
    </script>
    <script type="text/javascript" src="{% static 'js/item/lentAccept.js' %}" defer></script>

</body>

</html>
{% endblock %}