{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <title>Barrow</title>
</head>

<body>
    <div class="under_bg"></div>
    <main>
        <div class="main_header">
            <img class="main_header_logo" src="{% static 'img/logo.png' %}" alt="">
            <div class="main_header_text">
                <p class="welcome_msg">환영합니다!</p>
                <p>물품대여 플랫폼 <b>'바로우'</b> 입니다.</p>
                <p>처음이신가요?</p>
                <a class="signup_btn" href="{% url 'account:register' %}">계정을 만들어주세요.</a>
            </div>
        </div>
        <div class="main_main_sec">
            <form action="" class="form_IdPwd">
                <label for="input_id" >ID</label><br>
                <div>
                    <input type="text" class="input_id" id="input_id" name="username"><br>
                    <p class="id_error_msg">아이디를 확인해주세요.</p>
                </div>
                <label for="input_pwd">password</label><br>
                <div>
                    <input type="password" class="input_pwd" id="input_pwd"name="password">
                    <p class="pwd_error_msg">비밀번호를 확인해주세요.</p>
                </div>
                <a class="find_idpwd_a" href="{% url 'account:findIdPwd' %}">아이디나 비밀번호를 잊어버렸나요?</a>
            </form>
            <button class="login_btn">로그인 하기</button>
        </div>
        <div class="main_footer">
            <img src="{% static 'img/footer_logo.png' %}" alt="" class="main_footer_logo">
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="\static\js\login\login.js"></script>
</body>

</html>