<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/mypage_heartList.css">
    <title>마이페이지</title>
</head>
<body>
    <div id="container">
        <div id="headerWrap">
            <div id="headerLogo">
                <img src="img/logo.png" style="width: 140px; height: 52px;">
                <div id="pageName">마이페이지</div>
            </div>
            <div id="headerUser">
                <div id="userName"><div>김지영</div>님</div>
                <button type="button">로그아웃</button>
            </div>
        </div>
        <div id="bodyWrap">
            <div id="navWrap">
                <div id="navBox">
                    <div><img src="img/dashboard.png" style="width: 70px; height: 50px;"></div>
                    <div><img src="img/allim.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/editInfo.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/zzim.png" style="width: 45px; height: 55px;"></div>
                    <div><img src="img/chat.png" style="width: 50px; height: 50px;"></div>
                    <div><img src="img/money.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/useList.png" style="width: 50px; height: 55px;"></div>
                </div>
            </div>
            <div id="contentWrap">
                <div id="contentBox">
                    <div id="contentTitle">
                        <div id="contentBoxBody">
                            <div id="contentRealTitle">찜 목록</div>
                            <div id="threeCheckBtWrap">
                                <button type="button" id="totalCheckBt">전체 선택</button>
                                <button type="button" id="notTotalCheckBt">선택 해제</button>
                                <button type="button" id="deleteBt">삭제</button>
                            </div>
                        </div>
                        <div id="titleUnderBar"></div>
                    </div>
                    <div id="contentBody">
                        <div id="contentTopBody">
                            <div id="objectBox">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="objectBox">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="objectBox">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="objectBox">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="contentBottomBody">
                            <div id="object2Box">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="object2Box">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="object2Box">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="object2Box">
                                <div id="firstObjectBox">
                                    <img id="objectImg" src="img/objectImg.png">
                                    <div style="padding: 10px;">
                                        <div id="nameObject">상품 설명 어쩌구,,,</div>
                                        <img id="greenIcon" src="img/greenImg.png">
                                        <div id="priceWrap">
                                            <div id="priceDetail">
                                                <div style="font-weight: 700; font-size: larger;">20,000원</div>
                                                <div style="padding-top: 3px; margin-left: 7px;">/</div>
                                                <div style="color: red; font-weight: 600; padding-top: 3px; margin-left: 5px;">day</div>
                                            </div>
                                            <div style="padding-top: 3px;">3일 전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>