<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/mypage_addAccount.css">
    <title>마이페이지</title>
</head>
<body>
    <div id="container">
        <div id="headerWrap">
            <div id="headerLogo">
                <img src="img/logo.png" style="width: 140px; height: 52px;">
                <div id="pageName">마이페이지</div>
            </div>
            <div id="headerUser">
                <div id="userName"><div>김지영</div>님</div>
                <button type="button">로그아웃</button>
            </div>
        </div>
        <div id="bodyWrap">
            <div id="navWrap">
                <div id="navBox">
                    <div><img src="img/dashboard.png" style="width: 70px; height: 50px;"></div>
                    <div><img src="img/allim.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/editInfo.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/zzim.png" style="width: 45px; height: 55px;"></div>
                    <div><img src="img/chat.png" style="width: 50px; height: 50px;"></div>
                    <div><img src="img/money.png" style="width: 50px; height: 55px;"></div>
                    <div><img src="img/useList.png" style="width: 50px; height: 55px;"></div>
                </div>
            </div>
            <div id="contentWrap">
                <div id="contentBox">
                    <div id="accountBox">
                        <div id="accountBoxTitle">
                            <p>x</p>
                        </div>
                        <div id="accountBoxContent">
                            <div id="regiAccount">
                                <p>카드 등록</p>
                                <img src="img/card.png">
                            </div>
                            <div id="regiCard">
                                <p>계좌 등록</p>
                                <img src="img/account.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>