{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\static\css\login\signup.css">

    <title>Document</title>
</head>

<body>
    <div class="signup_bg_1"></div>
    <div class="signup_bg_2"></div>
    <main>
        <div class="main_header">
            <img class="main_header_logo" src="/static/img/logo.png" alt="">
        </div>
        {% csrf_token %}
        <div class="main_main_sec">
            <form action="" class="signup_input_form" name="from_input_id_pwd">
                <ul>
                    <li>
                        <label for="input_id">아이디</label><br>
                        <input type="text" name="username" placeholder="5~20자의 영문 소문자, 숫자와 특수기호(_),(-) 사용 가능" class="input_outer" id="input_id">
                        <p class="id_dup_msg">이미 사용중인 아이디입니다.</p>
                        <p class="id_err_msg">5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.</p>
                    </li>
                    <li>
                        <div class="input_pwd_wrap">
                            <img src="/static/img/Lock.png" alt="" class="input_pwd_icon">
                            <label for="input_pwd">비밀번호</label><br>
                            <input type="password" name="password" placeholder="8~16자 영문 대 소문자, 숫자, 특수문자 사용 가능" class="input_outer" id="input_pwd">
                        </div>
                        <p class="pwd_err_msg">8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</p>
                    </li>
                    <li>
                        <label for="input_repwd">비밀번호 재확인</label><br>
                        <input type="password" class="input_outer" id="input_repwd">
                        <p class="repwd_err_msg">비밀번호가 일치하지 않습니다.</p>
                    </li>
                    <li>
                        <label for="input_name">이름</label><br>
                        <input type="text" name="name" placeholder="한글만 사용 가능" class="input_outer" id="input_name">
                        <p class="name_err_msg">한글만 사용 가능합니다.</p>
                    </li>
                    <li>
                        <label for="input_birthdate">생년월일</label><br>
                        <div class="input_brithdate_wrap">
                            <select name="birth1" id="select_year" class="input_birthdate"></select>
                            <select name="birth2" id="select_month" class="input_birthdate"></select>
                            <select name="birth3" id="select_date" class="input_birthdate"></select>
                        </div>
                    </li>
                    <li>
                        <label for="member_post">주소</label>
                        <input id="member_post" type="text" name="address1" placeholder="우편번호" class="input_detail_address input_outer" readonly
                            onclick="findAddr()">
                        <input id="member_addr" type="text" name="address2" placeholder="주소" class="input_detail_address input_outer" readonly>
                        <br>
                        <input id ="member_detail" type="text" name="address3" class='input_detail_address input_outer' placeholder="상세주소">
                        <p class="address_err_msg">필수항목 입니다.</p>
                    </li>
                    <li class="submit_wrap">
                        <button class="submit_btn">본인인증하기</button>
                    </li>
                </ul>

                <form action="" name="form_input_join">
                    <ul class="join_box">
                        <div class="form_join_title">정보동의
                            <li class="check_all">
                                <ul class="clearfix">
                                    <li class="check_all_btn_wrap">
                                        <label for="check_all_btn_wrap">모두 동의합니다</label>
                                        <input type="checkbox"  class="check_all_btn">
                                    </li>
                                </ul>
                        </div>
                        </li>
                        <li class="checkbox1">
                            <ul class="clearfix">
                                <li class="check_title">(필수) 개인정보 제공 및 접근 동의</li>
                                <li><button type="button" class="check_detail1">자세히보기>></button></li>
                                <li class="checkbtn">
                                    <label for="check">동의합니다</label>
                                    <input type="checkbox" name="" class="check">
                                </li>
                            </ul>
                        <li class="acodian">
                            <textarea name="" id="" readonly class='check_textarea1'></textarea>
                        </li>
                        </li>
                        <li class="checkbox2">
                            <ul class="clearfix">
                                <li class="check_title">(필수) 위치정보 제공 동의</li>
                                <li><button type="button" class="check_detail2">자세히보기>></button></li>
                                <li class="checkbtn">
                                    <label for="check">동의합니다</label>
                                    <input type="checkbox" name="" class="check">
                                </li>
                            </ul>
                        <li class="acodian1">
                            <textarea name="" id="" readonly class="check_textarea2"></textarea>
                        </li>
                        </li>
                        <p class="check_err_msg">필수항목 입니다.</p>
                    </ul>
                </form>
                <div class="submit_wrap">
                    <button type="submit" class="submit_btn" value="가입하기" onclick="register()">가입하기</button>
                </div>
            </form>
        </div>
        <div class="main_footer">
            <img src="/static/img/footer_logo.png" alt="" class="main_footer_logo">
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="\static\js\login\signup.js"></script>
</body>

</html>