{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">
    <title>마이페이지</title>
</head>
<body>
    <div id="container">
        <div id="headerWrap">
            <div id="headerLogo">
                <a href = "{% url 'barrow:home' %}">
                    <img src="{% static 'img/mypage/logo.png' %}" style="width: 140px; height: 52px;">
                    
                </a>
                <div id="pageName">마이페이지</div>
            </div>
            <div id="headerUser">
                <div id="userName"><div>{{user.name}}</div>님</div>
                <button type="button" onclick = "location.href = '{% url 'account:logout' %}'">로그아웃</button>
            </div>
        </div>
        <div id="bodyWrap">
            <div id="navWrap">
                <div id="navBox">
                    <div><img src="{% static 'img/mypage/dashboard.png' %}" style="width: 100px; height: 80px;" onclick="location.href='{% url 'account:mypage_main' %}'"></div>
                    <div><img src="{% static 'img/mypage/allim.png' %}" style="width: 85px; height: 85px;" onclick="location.href='{% url 'account:mypage_notice' %}'"></div>
                    <div><img src="{% static 'img/mypage/editInfo.png' %}" style="width: 80px; height: 85px;" onclick="location.href='{% url 'account:mypage_modify_confirm' %}'"></div>
                    <div><img src="{% static 'img/mypage/zzim.png' %}" style="width: 70px; height: 90px;" onclick="location.href='{% url 'account:mypage_favorite' %}'"></div>
                    <div><img src="{% static 'img/mypage/chat.png' %}" style="width: 85px; height: 85px; margin-top: 15px;" onclick="location.href='{% url 'account:mypage_chatroom' %}'"></div>
                    <div><img src="{% static 'img/mypage/money.png' %}" style="width: 80px; height: 85px; margin-top: 15px;" onclick="location.href='{% url 'account:mypage_account' %}'"></div>
                    <div><img src="{% static 'img/mypage/useList.png' %}" style="width: 80px; height: 85px; margin-top: 15px;" onclick="location.href='{% url 'account:mypage_use' 'barrow_from' %}'"></div>
                </div>
            </div>
            
            {% block content %}
            {% endblock %}

        </div>
    </div>
</body>
</html>