{% extends "mypage/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_chat.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <title>마이페이지</title>
</head>
<body>
            <div id="contentWrap">
                <div id="contentBox">
                    <div id="contentTitle">
                        <div id="contentBoxBody">
                            <div id="contentRealTitle">채팅 관리</div>
                        </div>
                        <div id="titleUnderBar"></div>
                    </div>
                    <div id="contentBody">
                        <div id="chatListWrap">
                            <div id="chatListBox">
                                {% for room, user, name in datas %}
                                    <div id="chatList" onclick="location.href='{% url 'chatting:room' name %}'" style="cursor:pointer;">
                                        <div>
                                            <img src="{{user.image.url}}" style="width: 40px; height: 40px;">
                                        </div>
                                        <div id="chatInfo">
                                            <div style="margin-left: 20px;">
                                                <div>{{room.product.title}}</div>
                                                <div>알겠습니다.</div>
                                            </div>
                                            <div style="margin: auto 0px auto 20px;">
                                                오후 17:30
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <div id="chatWrap">
                            <div id="chatingBox">
                                <div id="withChatName">
                                    <h3>{{cur_room.room_name}}</h3>
                                    <a href = "{% url 'account:mypage_chatroom' %}">
                                        <img src="{% static 'img/mypage/chatOut.png' %}" />
                                    </a>
                                    
                                </div>
                                <div id="chatItemBox">
                                    <img src="{{cur_room.product.get_first_image.image.url}}" />
                                    <div id="chatItemNameBox" onclick="location.href='{% url 'products:itempage' cur_room.product.id %}'" style="cursor:pointer;">
                                        <p id="itemTitle">{{cur_room.product.title}}</p>
                                        <div id="itemContent">
                                            <div style="font-weight: 800; font-size: 25px;">{{cur_room.product.price}}</div>
                                            <div style="padding: 5px 0px 0px 5px; font-size: 20px;">원 /</div>
                                            <div style="color: red; padding: 5px 0 0 5px; font-size: 20px; font-weight: 800;">{{cur_room.product.get_price_per_display}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="chattingBoxWrap">
                                    {% for msg in messages %}
                                        {% if msg.user == user %}
                                            <div id="chattingPerson">
                                                <div id="chattingTime">
                                                    {{msg.date|date:'H:i'}}
                                                </div>
                                                <div id="chattingBox">
                                                    {{msg.text}}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div id="chattedPerson">
                                                <img  src="{{msg.user.image.url}}" style="width: 40px; height: 40px;">
                                                <div id="chattedBox">
                                                    {{msg.text}}
                                                </div>
                                                <div id="chattedTime">
                                                    <p>{{msg.date|date:'H:i'}}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="chatWriteWrap">
                                    <!-- <img src="{% static 'img/mypage/Plus Math.png' %}" /> -->
                                    <input id="writeChat" type="text"/>
                                    <button type="button" id="chatGoBt">전송</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script>
    var roomName = {{ room_name_json }};
    console.log(roomName)
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');  
    
    chatSocket.onerror = function(event){

      console.log(event);


    }
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var user = data['user']
        var time = data['time']
        console.log(data['message'])
        console.log(time)
        console.log(user)
        if(data['user'] == "{{user.id}}"){
            document.querySelector('#chattingBoxWrap').innerHTML +="<div id='chattingPerson'><div id='chattingTime'>"+time+"</div><div id='chattingBox'>"+message+"</div></div>" ;
            $.ajax({
            url: 'http://127.0.0.1:8000/account/new_msg/', //request 보낼 서버의 경로
            type: 'post', // 메소드(get, post, put 등)
            data: JSON.stringify({
                "text":message,
                "date":time,
                "user_id": user,
                "room_id":"{{cur_room.id}}",
            }), //보낼 데이터
            success: function (data) {
                //서버로부터 정상적으로 응답이 왔을 때 실행
                
            },
            error: function (xhr, textStatus, thrownError) {
                alert(
                    "Could not send URL to Django. Error: " +
                    xhr.status +
                    ": " +
                    xhr.responseText
                );
            },
        });                                    
        }
        else{
            document.querySelector('#chattingBoxWrap').innerHTML +="<div id='chattedPerson'><img  src='"+{{cur_room.opponent_user.image.url}}+"' style='width: 40px; height: 40px;'><div id='chattedBox'>"+message+"</div><div id='chattedTime'><p>"+time+ "</p></div></div>"; 
        }
    };

    chatSocket.onclose = function(e) {
        console.log(e)
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#writeChat').focus();
    document.querySelector('#writeChat').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chatGoBt').click();
        }
    };

    document.querySelector('#chatGoBt').onclick = function(e) {
        var messageInputDom = document.querySelector('#writeChat');
        var message = messageInputDom.value;
        let today = new Date();   

        let hours = today.getHours(); // 시
        let minutes = today.getMinutes();  // 분
        chatSocket.send(JSON.stringify({
            "user" : "{{user.id}}",
            'message': message,
            "time" : hours + ":" + minutes
        }));
        
        messageInputDom.value = '';

    };
</script>
</body>

{% endblock %}