{% extends "mypage/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_account.css' %}">
    <title>Barrow</title>
</head>

            <div id="contentWrap">
                <div id="contentBox">
                    <div id="contentTitle">
                        <div id="contentRealTitle">결제 관리</div>
                        <div id="titleUnderBar"></div>
                    </div>
                    <div id="contentBody">
                        <div id="contentBodyBox">
                            <div id="contentBodyTitle">계좌 카드 정보</div>
                            <button type="button">결제수단 추가</button>
                        </div>
                        <table id="accountTable">
                            <tr id="tableHead" style="width: 100%;">
                                <th scope="col" style="width: 15%;">은행명</th>
                                <th scope="col" style="width: 15%;">카드사</th>
                                <th scope="col" style="width: 15%;">카드주</th>
                                <th scope="col" style="width: 15%;">유효기간</th>
                                <th scope="col" colspan="2" style="width: 40%;">카드번호</th>
                            </tr>
                            <tr>
                                <td id="account1">KEB 하나은행</td>
                                <td id="account2">VISA</td>
                                <td id="account3">김지민</td>
                                <td id="account4">07/23</td>
                                <td id="account5"><p>4***-****-****-****</p></td>
                                <td id="account6"><button type="button">삭제하기</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

{% endblock %}