{% extends "mypage/base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_modify.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    <title>Barrow</title>
</head>
    {% include "mypage/messages.html" %}
            <div id="contentWrap">
                <div id="contentBox">
                    <div id="editPwStartBox">
                        <div id="editPwFirstTitle">비밀번호를 입력해주세요!</div>
                        <div id="editPwSecondTitle">회원 정보를 수정하기 위한 인증 절차가 필요합니다.</div>
                        <div id="editPwInput">
                            <form method = "POST" action = "{% url 'account:mypage_modify_confirm' %}">
                                <input type="password" placeholder="현재 비밀번호" name = "pwd">
                                <input id = "submit" type = "submit" style = "display: none;">
                            </form>
                        </div>
                        <div id="editPwInputBtWrap">
                            <button type="button" id="checkBt">확인</button>
                            <button type="button" id="backBt">돌아가기</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src = "{% static 'js/mypage/modify_confirm.js' %}"></script>
        {% endblock %}