{% extends "mypage/base.html" %}
{% load static %}
{% block content%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_notice.css' %}">
    <title>Barrow</title>
</head>

            <div id="contentWrap">
                <div id="contentBox">
                    <div id="contentTitle">
                        <div id="contentRealTitle">알림 목록</div>
                        <div id="titleUnderBar"></div>
                    </div>
                    <div id="contentBody">
                        <div id="notCheckTitle">
                            <div id="notCheckRealTitle">
                                읽지 않은 알림
                            </div>
                            <div id="notCheckNum">
                                <div style="color: green; padding-right: 5px;">12</div>
                                <div>/  21</div>
                            </div>
                        </div>
                        <div id="titleUnderBar"></div>
                        <div id="notifyCheckList">
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                            <div id="notifyCheck">
                                <label><input name="cbox" id="notifyLabel" type="checkbox">읽었게요 안 읽었게요 ㅋㅋ</label>
                                <div>2022-11-19 22:00</div>
                            </div>
                        </div>
                        <div id="threeCheckBtWrap">
                            <button type="button" id="totalCheckBt" onclick="allYes();">전체 선택</button>
                            <button type="button" id="notTotalCheckBt"onclick="allNo();">선택 해제</button>
                            <button type="button" id="deleteBt">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
    </head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/mypage/mypage_notice.js' %}" defer></script>

            {% endblock %}
       