{% extends "mypage/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_chat.css' %}">
    <title>마이페이지</title>
</head>
<body>
            <div id="contentWrap">
                <div id="contentBox">
                    <div id="contentTitle">
                        <div id="contentBoxBody">
                            <div id="contentRealTitle">채팅 관리</div>
                        </div>
                        <div id="titleUnderBar"></div>
                    </div>
                    <div id="contentBody">
                        <div id="chatListWrap">
                            <div id="chatListBox">
                                <div id="chatList">
                                    <div>
                                        <img src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                                <div id="chatList">
                                    <div>
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                    </div>
                                    <div id="chatInfo">
                                        <div style="margin-left: 20px;">
                                            <div>김민주</div>
                                            <div>알겠습니다.</div>
                                        </div>
                                        <div style="margin: auto 0px auto 20px;">
                                            오후 17:30
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="chatWrap">
                            <div id="chatingBox">
                                <div id="withChatName">
                                    <h3>김민주</h3>
                                    <p>은평구 신사동</p>
                                    <img src="{% static 'img/mypage/chatOut.png' %}" />
                                </div>
                                <div id="chatItemBox">
                                    <img src="{% static 'img/mypage/dior.png' %}" />
                                    <div id="chatItemNameBox">
                                        <p id="itemTitle">멋진 시계로 어쩌구</p>
                                        <div id="itemContent">
                                            <div style="font-weight: 800; font-size: 25px;">8000</div>
                                            <div style="padding: 5px 0px 0px 5px; font-size: 20px;">원 /</div>
                                            <div style="color: red; padding: 5px 0 0 5px; font-size: 20px; font-weight: 800;">day</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="chattingBoxWrap">
                                    <div id="chattedPerson">
                                        <img  src="{% static 'img/mypage/userProfile.png' %}" style="width: 40px; height: 40px;">
                                        <div id="chattedBox">
                                            해당 물품은 어쩌구 저ㄱ쩌구 어쩌구
                                            저꺼주가두짛ㄷ지훚댷
                                            해당 물품은 어쩌구 저ㄱ쩌구 어쩌구
                                            저꺼주가두짛ㄷ지훚댷
                                            해당 물품은 어쩌구 저ㄱ쩌구 어쩌구
                                            저꺼주가두짛ㄷ지훚댷
                                        </div>
                                        <div id="chattedTime">
                                            <p>오후 6:15</p>
                                        </div>
                                    </div>
                                    <div id="chattingPerson">
                                        <div id="chattingTime">
                                            오후 6:15
                                        </div>
                                        <div id="chattingBox">
                                            오키 배송 해쥴겡~~~~~~~~~~~~~!!!!
                                            오키 배송 해쥴겡~~~~~~~~~~~~~!!!!
                                            오키 배송 해쥴겡~~~~~~~~~~~~~!!!!
                                            오키 배송 해쥴겡~~~~~~~~~~~~~!!!!
                                            오키 배송 해쥴겡~~~~~~~~~~~~~!!!!
                                        </div>
                                    </div>
                                </div>
                                <div id="chatWriteWrap">
                                    <img src="{% static 'img/mypage/Plus Math.png' %}" />
                                    <input type="text" id="writeChat" />
                                    <button type="button" id="chatGoBt">전송</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

{% endblock %}