{% extends "main/base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/main/best.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script type="text/javascript" src="{% static 'js/main/best.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Barrow</title>
</head>

<body>
        <section class="bottom">
            <div class="bestitem_text">
                <div class="text_top">
                    <img class="heartImg" src="{% static 'img/img/heart.png' %}">
                    <span>
                        베스트 상품
                    </span>
                </div>
                <div class="text_bottom">
                    <p class="Explane">일주일 내에 가장 많은 관심을 받은 상품을 소개해 드려요</p>
                </div>
            </div>
            <!--전체 width가   -->
                {% for product, type in best_products %}
                    {% if forloop.counter0|divisibleby:4 %}
                    <section class="bestitems">
                    {% endif %}
                    {% if product %}
                        <div class="bestitem">
                            <img class="bestitemImg" src="{% static 'img/img/itemimg/itemimg1.png' %}">
                            <div class="bestitemdescription">
                                <ul>
                                    <li>{{product.title}}</li>
                                </ul>
                                <ul>
                                    <div class="TransMethodImg">
                                        {% if type.0 %}
                                            <li class="besong"><img src="{% static 'img/img/itemimg/besong.png' %}"></li>
                                        {% endif %}
                                        {% if type.1 %}
                                            <li class="check"><img src="{% static 'img/img/itemimg/check.png' %}"></li>
                                        {% endif %}
                                    </div>
                                    <ul class="priceAndDay">
                                        <li>
                                            <h1 class="bestitemPrice">{{product.price}}</h1>
                                        </li>
                                        <li>
                                            <p>원 /</p>
                                            <p class="bestitemday">{{product.get_price_per_display}}</p>
                                        </li>
                                        <li>
                                            <p class="">{{product.get_created}}</p>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="bestitem">
                            <img class="bestitemImg" src="/media/product/product_dafault.png">
                            <div class="bestitemdescription">
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if forloop.counter|divisibleby:4 %}
                        </section>
                    {% endif %}
                {% endfor %}
            </section>
        </section>
        <section class="pagination">
            <span class="dLeftVector">&laquo;</span>
            <span class="prevPageBtn">&lt;</span>
            <ol id="numbers">
                <!-- <li class="numbers"><a href="">1</a></li> -->
            </ol>
            <span class="nextPageBtn">&gt;</span>
            <span class="dRightVector">&raquo;</span>
        </section>
        <!-- <nav aria-label="pagination">
            <ul class="pagination">
                <li><a href=""><span aria-hidden="true">&laquo;</span><span class="visuallyhidden">previous set of pages</span></a></li>
                <li><a href=""><span class="visuallyhidden">page </span>1</a></li>
                <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>2</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>3</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>4</a></li>
                <li><a href=""><span class="visuallyhidden">next set of pages</span><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav> -->
    
</body>
</html>
{% endblock %}