{% extends 'main/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/category.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script type="text/javascript" src="{% static 'js/main/category.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Barrow</title>
</head>

<body>

    <section class="bottom">
        <aside class="leftSidebar">
            <dl class="categoryBox">
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '전체' '최신순' %}" >전체({{category_num.전체}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '의류' '최신순' %}" >의류({{category_num.의류}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '신발' '최신순' %}" >신발({{category_num.신발}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '여행용품' '최신순' %}" >여행용품({{category_num.여행용품}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '가방' '최신순' %}" >가방({{category_num.가방}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '캐리어' '최신순' %}" >캐리어({{category_num.캐리어}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '스포츠' '최신순' %}" >스포츠({{category_num.스포츠}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '레저' '최신순' %}" >레저({{category_num.레저}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '가전' '최신순' %}" >가전({{category_num.가전}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '가구' '최신순' %}" >가구({{category_num.가구}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '전자제품' '최신순' %}" >전자제품({{category_num.전자제품}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '캐주얼' '최신순' %}" >캐주얼({{category_num.캐주얼}})</a>
                </dt>
                <dt>
                    <a class="div2" href="{% url 'barrow:category' '기타' '최신순' %}" >기타({{category_num.기타}})</a>
                </dt>
            </dl>
        </aside>
        <section class="categoryMainField">
            <div class="categoryBox">

                <ul class="categoryInfo">
                    {% if is_key %}
                    <li class="categoryName">검색결과 : {{keyword}}</li>
                    {% else %}
                    <li class="categoryName">{{category}}</li>
                    {% endif %}
                    <li>총 {{cur_category_num}}개</li>
                </ul>
                <div class="categoryBrTags"></div>
                <ul class="categorySort">
                    {% if is_key %}
                    <li class="latestOrder"><a href="/search/result/{{category}}/최신순/?content={{keyword}}">최신순</a></li>
                    <li class="highPriceOrder"><a
                            href="/search/result/{{category}}/높은가격순/?content={{keyword}}">높은가격순</a></li>
                    <li class="lowPriceOrder"><a href="/search/result/{{category}}/낮은가격순/?content={{keyword}}">낮은가격순</a>
                    </li>
                    <li class="viewOrder"><a href="/search/result/{{category}}/조회순/?content={{keyword}}">조회순</a></li>
                    <li class="recommendOrder"><a href="/search/result/{{category}}/추천순/?content={{keyword}}">추천순</a>
                    </li>
                    <li class="applicationOrder"><a href="/search/result/{{category}}/신청순/?content={{keyword}}">신청순</a>
                    </li>
                    {% else %}
                    <li class="latestOrder"><a href="{% url 'barrow:category' category '최신순' %}">최신순</a></li>
                    <li class="highPriceOrder"><a href="{% url 'barrow:category' category '높은가격순' %}">높은가격순</a></li>
                    <li class="lowPriceOrder"><a href="{% url 'barrow:category' category '낮은가격순' %}">낮은가격순</a></li>
                    <li class="viewOrder"><a href="{% url 'barrow:category' category '조회순' %}">조회순</a></li>
                    <li class="recommendOrder"><a href="{% url 'barrow:category' category '추천순' %}">추천순</a></li>
                    <li class="applicationOrder"><a href="{% url 'barrow:category' category '신청순' %}">신청순</a></li>
                    {% endif %}
                </ul>
            </div>

            </section>
            <!--전체 width가   -->
                {% for product, type in products %}
                    {% if forloop.counter0|divisibleby:4 %}
                    <section class="bestitems">
                    {% endif %}
                    {% if product %}
                        <div class="bestitem">
                            <a href="{% url 'products:itempage' product.id %}" class="bestitemlink">
                            <img class="bestitemImg" src="{{product.get_first_image.image.url}}"
                                 style="  border-bottom-left-radius: 0px;
                                 border-bottom-right-radius: 0px;">
                            <div class="bestitemdescription">
                                <ul>
                                    <li>{{product.title}}</li>
                                </ul>
                                <ul>
                                  <div class="TransMethodImg">
                                        <li class="juso">{{product.area}}</li>
                                        <div class="dealmethod">
                                        {% if type.0 %}
                                            <li class="besong"><img src="{% static 'img/img/itemimg/besong.png' %}"></li>
                                        {% endif %}
                                        {% if type.1 %}
                                            <li class="check"><img src="{% static 'img/img/itemimg/check.png' %}"></li>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <ul class="priceAndDay">
                                        <li>
                                            <h1 class="bestitemPrice">{{product.price}}</h1>
                                              <p class="krPrice">원 /</p>
                                        </li>
                                        <li>
                                            <p class="bestitemday"><strong>{{product.get_price_per_display}}</strong></p>
                                        </li>
                                    </ul>
                                    <div class="itemdate">
                                    <p class="itembeforedate">{{product.get_created}}</p>
                                    </div>
                                </ul>
                            </div>
                            </a>
                        </div>

                    {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                        </section>
                    {% endif %}
                {% endfor %}
                
            </section>
           
        </section>

    </section>
    <section class="pagination">
            <span class="dLeftVector" style="cursor:pointer">&laquo;</span>
            <span class="prevPageBtns">&lt;</span>
            <ol id="numbers">
                <!-- <li class="numbers"><a href="">1</a></li> -->
            </ol>
            <span class="nextPageBtns">&gt;</span>
            <span class="dRightVector" style="cursor:pointer">&raquo;</span>
        </section>
    <!-- <nav aria-label="pagination">
            <ul class="pagination">
                <li><a href=""><span aria-hidden="true">&laquo;</span><span class="visuallyhidden">previous set of pages</span></a></li>
                <li><a href=""><span class="visuallyhidden">page </span>1</a></li>
                <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>2</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>3</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>4</a></li>
                <li><a href=""><span class="visuallyhidden">next set of pages</span><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav> -->
    </div>
    <script type = "text/javascript">var item_num = "{{cur_category_num}}";</script>
        <script type = "text/javascript" >var categoryName = "{{category}}";</script>
<script type = "text/javascript" >var categorySort = "{{sort}}";</script>
</body>

</html>
{% endblock %}