{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}"  />
    <script type="text/javascript" src="{% static 'js/main/main.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Document</title>
</head>
        <section class="mid">
            <div class="outer">
                <div class="inner-list">
                    <div class="inner">
                        <img class="slideimg" src="{% static 'img/img/slidebanner/slidebanner2.PNG' %}">
                    </div>
                    <div class="inner">
                        <img class="slideimg" src="{% static 'img/img/slidebanner/slidebanner3.PNG' %}">
                    </div>
                    <div class="inner">
                        <img class="slideimg" src="{% static 'img/img/slidebanner/slidebanner4.PNG' %}">
                    </div>
                </div>
                <div class="button_list">
                    <div class="button-left">&lt;</div>
                    <div class="button-right">&gt;</div>
                </div>
            </div>
        </section>
        <div class="slideIndexBox">
            <span class="slideBrTags"></span>
            <div class="slideindex">
                <span class="index_value">&lt;</span>
                <span class="index_now"></span>
                <span class="index_value">/</span>
                <span class="index_all"></span>
                <span class="index_value">&gt;</span>
            </div>
        </div>
        </br>
        <section class="bottom">
            <div class="bestitem_text">
                <div class="text_top">
                    <img class="heartImg" src="{% static 'img/img/heart.png' %}">
                    <span>
                        베스트 상품
                    </span>
                </div>
                <div class="text_bottom">
                    <p class="Explane">일주일 내에 가장 많은 관심을 받은 상품을 소개해 드려요</p>
                    <p class="ViewMoreBtn">
                        <a href = "{% url 'barrow:best' 1 %}">더보기</a>
                    </p>
                </div>
            </div>
            <!--전체 width가   -->
            <section class="bestitems">
                {% for product, type in best_products %}
                    {% if product %}
                        <div class="bestitem">
                             <a href="{% url 'products:itempage' product.id %}" class="bestitemlink">
                            <img class="bestitemImg" src="{{product.get_first_image.image.url}}"
                             style="  border-bottom-left-radius: 0px;
                                 border-bottom-right-radius: 0px;">
                            <div class="bestitemdescription">
                                <ul>
                                    <li>{{product.title}}</li>
                                </ul>
                               <ul>
                                    <div class="TransMethodImg">
                                        <li class="juso">{{product.area}}</li>
                                        <div class="dealmethod">
                                        {% if type.0 %}
                                            <li class="besong"><img src="{% static 'img/img/itemimg/besong.png' %}"></li>
                                        {% endif %}
                                        {% if type.1 %}
                                            <li class="check"><img src="{% static 'img/img/itemimg/check.png' %}"></li>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <ul class="priceAndDay">
                                        <li>
                                            <h1 class="bestitemPrice">{{product.price}}</h1>
                                            <p class="krPrice">원 /</p>
                                        </li>
                                        <li>
                                            <p class="bestitemday"><strong>{{product.get_price_per_display}}</strong></p>
                                        </li>
                                    </ul>
                                    <div class="itemdate">
                                        <p class="itembeforedate">{{product.get_created}}</p>
                                    </div>
                                </ul>
                                </ul>
                            </div>
                            </a>
                        </div>
<!--                   -->
<!--                    <div class="bestitem">-->
<!--                        <a href="#" class="bestitemlink">-->
<!--                        <img class="bestitemImg" src="/media/product/product_dafault.png" style="height: 100%;">-->
<!--                        <div class="bestitemdescription">-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->
                    {% endif %}
                    
                {% endfor %}
                
            </section>
        </section>
{% endblock %}
