{% extends "main/base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/map.css' %}"/>
    <script type="text/javascript" src="{% static 'js/main/map.js' %}" defer></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdf1ab47ddf57162ce7abadb88276242&libraries=services"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>Barrow</title>
</head>

<div class="mapdivideitem">
    <section class="bottomDiv">
        <section class="bottom">
            <div class="bestitem_text">
                <div class="text_top">
                    <img class="mapImg" src="{% static 'img/img/map.PNG' %}">
                    <span>
                            내 근처의 상품
                        </span>
                </div>
                <div class="text_bottom">
                    <p class="Explane">근처에서 대여할 수 있는 상품을 확인해 보세요</p>
                    <!--                        <p class="ViewMoreBtn">더보기</p>-->
                </div>
            </div>




            <!--전체 width가   -->
            <section class="bestitems">
                {% if not products_near %}
                    <p class="notitems">근처에 대여할 수 있는 <br>상품이 없습니다.</p>

                {% else %}
                {% for product, type in products_near %}

                <!-- 아이템이랑 페이지 네이션이 왼쪽 섹션 -->


                    {% if product %}
                    <div class="bestitem">
                        <a href="{% url 'products:itempage' product.id %}" class="bestitemlink">
                            <img class="bestitemImg" src="{{product.get_first_image.image.url}}"
                                style="  border-bottom-left-radius: 0px;
                                    border-bottom-right-radius: 0px;">
                            <div class="bestitemdescription">
                                <ul>
                                    <li>{{product.title}}</li>
                                </ul>
                                <ul>
                                    <div class="TransMethodImg">
                                        <li class="juso">{{product.area}}</li>
                                        <div class="dealmethod">
                                            {% if type.0 %}
                                            <li class="besong"><img src="{% static 'img/img/itemimg/besong.png' %}"></li>
                                            {% endif %}
                                            {% if type.1 %}
                                            <li class="check"><img src="{% static 'img/img/itemimg/check.png' %}"></li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <ul class="priceAndDay">
                                        <li>
                                            <h1 class="bestitemPrice">{{product.price}}</h1>
                                            <p class="krPrice">원 /</p>
                                        </li>
                                        <li>
                                            <p class="bestitemday"><strong>{{product.get_price_per_display}}</strong></p>
                                        </li>
                                    </ul>
                                    <div class="itemdate">
                                        <p class="itembeforedate">{{product.get_created}}</p>
                                    </div>
                                </ul>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <p>hihi</p>
                    {% endif %}
                    {% endfor %}
                {% endif %}


            </section>
            <section class="pagination">
                <span class="dLeftVector" style="cursor:pointer">&laquo;</span>
                <span class="prevPageBtns">&lt;</span>
                <ol id="numbers">
                </ol>
                <span class="nextPageBtns">&gt;</span>
                <span class="dRightVector" style="cursor:pointer">&raquo;</span>
            </section>
    </section>
    <!-- 지도가 오른쪽 섹션 -->
    <section class="mapApi">
        <!--                <button id = "find-me">Show my location</button><br/>-->
        <p id="status"></p>
        <a id="map-link" target="_blank" style="display:none"></a>
        <div id="map" style="width:562px"></div>
    </section>

        </section>
</div>

<!-- <nav aria-label="pagination">
    <ul class="pagination">
        <li><a href=""><span aria-hidden="true">&laquo;</span><span class="visuallyhidden">previous set of pages</span></a></li>
        <li><a href=""><span class="visuallyhidden">page </span>1</a></li>
        <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>2</a></li>
        <li><a href=""><span class="visuallyhidden">page </span>3</a></li>
        <li><a href=""><span class="visuallyhidden">page </span>4</a></li>
        <li><a href=""><span class="visuallyhidden">next set of pages</span><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</nav> -->

<script>
        var products = {{products_all|safe}};</script>
<script type="text/javascript"> var item_num = "{{item_num}}";</script>
<script type="text/javascript"> var near_item_num = "{{near_item_num}}";</script>

</html>
{% endblock %}