{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/map.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script type="text/javascript" src="{% static 'js/main/map.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Barrow</title>
</head>

<body>

        <section class="bottomDiv">
            <section class="bottom">
                <div class="bestitem_text">
                    <div class="text_top">
                        <img class="mapImg" src="{% static 'img/img/map.PNG' %}">
                        <span>
                            내 근처의 상품
                        </span>
                    </div>
                    <div class="text_bottom">
                        <p class="Explane">근처에서 대여할 수 있는 상품을 확인해 보세요</p>
                        <p class="ViewMoreBtn">더보기</p>
                    </div>
                </div>
                <!--전체 width가   -->
                <section class="bestitems">
                    <div class="bestitem">
                        <img class="bestitemImg" src="{% static 'img/img/itemimg/itemimg1.png' %}">
                        <div class="bestitemdescription">
                            <ul>
                                <li>[사용감 X] 컴퓨터 대여해드려</li>
                            </ul>
                            <ul>
                                <div class="TransMethodImg">
                                    <li class="besong"><img src="../img/itemimg/besong.png"></li>
                                    <li class="check"><img src="../img/itemimg/check.png"></li>
                                </div>
                                <ul class="priceAndDay">
                                    <li>
                                        <h1 class="bestitemPrice">20,000</h1>
                                    </li>
                                    <li>
                                        <p>원 /</p>
                                        <p class="bestitemday">day</p>
                                    </li>
                                    <li>
                                        <p class="">3일 전</p>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="bestitem">
                        <img class="bestitemImg" src="../img/itemimg/itemimg2.png">
                        <div class="bestitemdescription">
                            <ul>
                                <li>[사용감 X] 컴퓨터 대여해드려</li>
                            </ul>
                            <ul>
                                <div class="TransMethodImg">
                                    <li class="besong"><img src="../img/itemimg/besong.png"></li>
                                    <li class="check"><img src="../img/itemimg/check.png"></li>
                                </div>
                                <ul class="priceAndDay">
                                    <li>
                                        <h1 class="bestitemPrice">20,000</h1>
                                    </li>
                                    <li>
                                        <p>원 /</p>
                                        <p class="bestitemday">day</p>
                                    </li>
                                    <li>
                                        <p class="">3일 전</p>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="bestitem">
                        <img class="bestitemImg" src="../img/itemimg/itemimg3.png">
                        <div class="bestitemdescription">
                            <ul>
                                <li>[사용감 X] 컴퓨터 대여해드려</li>
                            </ul>
                            <ul>
                                <div class="TransMethodImg">
                                    <li class="besong"><img src="../img/itemimg/besong.png"></li>
                                    <li class="check"><img src="../img/itemimg/check.png"></li>
                                </div>
                                <ul class="priceAndDay">
                                    <li>
                                        <h1 class="bestitemPrice">20,000</h1>
                                    </li>
                                    <li>
                                        <p>원 /</p>
                                        <p class="bestitemday">day</p>
                                    </li>
                                    <li>
                                        <p class="">3일 전</p>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="bestitem">
                        <img class="bestitemImg" src="../img/itemimg/itemimg4.png">
                        <div class="bestitemdescription">
                            <ul>
                                <li>[사용감 X] 컴퓨터 대여해드려</li>
                            </ul>
                            <ul>
                                <div class="TransMethodImg">
                                    <li class="besong"><img src="../img/itemimg/besong.png"></li>
                                    <li class="check"><img src="../img/itemimg/check.png"></li>
                                </div>
                                <ul class="priceAndDay">
                                    <li>
                                        <h1 class="bestitemPrice">20,000</h1>
                                    </li>
                                    <li>
                                        <p>원 /</p>
                                        <p class="bestitemday">day</p>
                                    </li>
                                    <li>
                                        <p class="">3일 전</p>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
    
                </section>
            </section>
            <section class="mapApi">
                <div>11</div>
            </section>
        </section>
        <section class="pagination">
            <span class="dLeftVector">&laquo;</span>
            <span class="prevPageBtn">&lt;</span>
            <ol id="numbers">
                <!-- <li class="numbers"><a href="">1</a></li> -->
            </ol>
            <span class="nextPageBtn">&gt;</span>
            <span class="dRightVector">&raquo;</span>
        </section>
        <!-- <nav aria-label="pagination">
            <ul class="pagination">
                <li><a href=""><span aria-hidden="true">&laquo;</span><span class="visuallyhidden">previous set of pages</span></a></li>
                <li><a href=""><span class="visuallyhidden">page </span>1</a></li>
                <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>2</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>3</a></li>
                <li><a href=""><span class="visuallyhidden">page </span>4</a></li>
                <li><a href=""><span class="visuallyhidden">next set of pages</span><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav> -->
    </div>
</body>

</html>
{% endblock %}