{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/side.css' %}" />
    <script type="text/javascript" src="{% static 'js/main/side.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Document</title>
</head>
<aside class="sidebar">
    <div class="dibs">
        <p class="p-text">찜한 상품</p>
        <div class="dibs-wrap">
            <div class="dibs-image"><img src="{% static 'img/img/steamed.png' %}" alt=""></div>
            <div class="dibs-text">
                <p>{{favorite_num}}</p>
            </div>
        </div>
    </div>
    <div class="recently">
        <p class="p-text">최근 본 상품</p>
        <div class="br_tags"></div>
        <div class="recentitembox">
<!--            <p>최근 본 상품이 없습니다.</p>-->
            {% for product in recent_views %}
                <img src="{{product.get_first_image.image.url}}" class="recentItem">
            {% endfor %}
        </div>
        <section class="paginations">
                <span class="prevPageBtn">&lt;</span>
                <span class="currentPage"></span>
                <span class="slash">/</span>
                <span class="allPage"></span>
                <span class="nextPageBtn">&gt;</span>
            </section>
    </div>
</aside>