* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/img/login_bg.png");
    background-size: cover;
}

a {
    text-decoration: none;
    color: red;
    font-family: 'Heebo', sans-serif;
}

p{
    font-size: 28px;
}

input {
    border-radius: 10px;
    height: 35px;
    border: 1px solid black;
    width: 100%;
}

main {
    background-color: #F5F5F5;
    width: 500px;
    height: 700px;
    z-index: 1;
    padding: 20px;
    margin: 0px;
    min-width: 280px;
}

.main_header {
    height: 30%;
    width: 100%;
}

.main_header .main_header_text {
    line-height: 8px;
}

.welcome_msg{
    font-size:32px;
    font-weight: bold;
}

.main_header .main_header_text p:nth-child(3) {
    font-size: 12px;
    display: inline;
}

.signup_btn {
    font-size: 12px;
    font-weight: bold;
}

.main_header_logo {
    height: 50px;
    object-fit: contain;
}

.main_main_sec {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.find_idpwd_a {
    font-size: 12px;
    font-weight: bold;
}

.login_btn {
    background-color: #3D8361;
    border: none;
    height: 50px;
    border-radius: 10px;
    width: 220px;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
}

.main_footer {
    height: 10%;
    width: 100%;
}

.main_footer_logo {
    object-fit: contain;
    width: 100%;
}

.form_IdPwd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.id_error_msg,
.pwd_error_msg {
    font-size: 12px;
    position: relative;
    color: red;
    font-weight: bold;
    visibility: hidden;
}

@media screen and (max-width: 375px){
    main {
        width: 280px;
    }
    p{
        font-size: 16px;
    }
}

@media screen and (min-width:376px) and (max-width: 576px) {
    main {
        width: 320px;
    }
    p{
        font-size: 20px;
    }
}

@media screen and (min-width:577px) and (max-width: 768px) {

}