* {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    margin: 0%;
    padding: 0%;
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.signup_bg_1 {
    width: 1000px;
    height: 700px;
    object-fit: contain;
    position: absolute;
    top: -100px;
    right: 0px;
    background-image: url("/static/img/signup_bg_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.signup_bg_2 {
    width: 1000px;
    height: 700px;
    object-fit: cover;
    position: absolute;
    top: 700px;
    left: 0px;
    background-image: url("/static/img/signup_bg_2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    background-color: #F5F5F5;
    width: 500px;
    height: min-content;
    z-index: 1;
    padding: 20px;
    margin: 0px;
    border-radius: 7px;
}

.main_header {
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
}

.main_header_logo {
    height: inherit;
    object-fit: cover;
}

.signup_input_form {
    margin-bottom: 100px;
}

.input_outer {
    width: 100%;
    height: 35px;
    border-radius: 10px;

}

.input_brithdate_wrap {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.input_birthdate {
    width: 150px;
    height: 35px;
    border-radius: 10px;
}

.search_address_input {
    width: 150px;
    height: 35px;
    border-radius: 10px;
}

#submit_address {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #3D8361;
    color: white;
}

.submit_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.send_verification_wrap {
    margin-bottom: 30px;
}

.send_verification_wrap,
.verify_verification_wrap {
    display: flex;
    justify-content: space-around;
}

#input_phoneNum,
#input_verifyNum {
    width: 350px;
    height: 35px;
    border-radius: 10px;
}

#send_verification_btn,
#verify_verification_btn {
    width: 120px;
    height: 40px;
}

.submit_btn {
    background-color: #3D8361;
    border: none;
    color: white;
    width: 220px;
    height: 44px;
    border-radius: 10px;
    margin: 0 auto;
}

.form_join_title {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.check_title {
    width: 200px;
}

.check_detail {
    width: 50px;
}

.check_all>.clearfix {
    display: flex;
    justify-content: end;
}

.clearfix {
    width: 100%;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

input[class="check"] {
    position: relative;
    top: -2px;
}

input[class="check_all_btn"] {
    position: relative;
    top: 7px;
}

label[for="check_all_btn_wrap"] {
    position: relative;
    top: 5px;
}

label[for='check'] {
    position: relative;
    top: -5px;
}

.checkbox1 {
    margin-top: 10px;
}

.check_detail1,
.check_detail2 {
    color: #967B37;
    font-weight: bold;
    border: none;
    font-size: 10px;
    width: fit-content;
}

.main_footer {
    height: 35px;
    width: 100%;
    margin-top: 50px;
}

.main_footer_logo {
    object-fit: contain;
    width: 100%;
}

.id_dup_msg,
.id_err_msg,
.pwd_err_msg,
.repwd_err_msg,
.name_err_msg,
.check_err_msg,
.address_err_msg,
.phonenum_err_msg {
    font-size: 12px;
    color: red;
    line-height: 5px;
    visibility: hidden;
}

.id_err_msg {
    margin-bottom: 30px;
}

.pwd_err_msg,
.repwd_err_msg,
.name_err_msg {
    margin-bottom: 40px;
}

.input_address_wrap {
    display: flex;
    justify-content: flex-start;
}

.input_detail_address {
    margin-bottom: 30px;
}

.input_member_post {
    margin-right: 20px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}

.member_post_btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #3D8361;
}

.address_api {
    margin-bottom: 30px;
}

.check_textarea1,
.check_textarea2 {
    width: 100%;
    display: none;
    height: 100px;
}

.input_pwd_wrap {
    position: relative;
    height: 62px;
}

.input_pwd_icon {
    position: absolute;
    right: 0px;
    top: 25px;
    visibility: hidden;
}

@media screen and (max-width: 375px) {
    main {
        width: 280px;
    }

    .input_address_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_member_post{
        margin-right: 0px;
    }

    .input_detail_address{
        margin-bottom: 10px;
        width: 100%;
    }

    .member_post_btn{
        margin-bottom: 10px;
    }

    .send_verification_wrap,
    .verify_verification_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input_phoneNum,
    #input_verifyNum {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:376px) and (max-width: 576px) {
    main {
        width: 350px;
    }

    .send_verification_wrap,
    .verify_verification_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input_phoneNum,
    #input_verifyNum {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:577px) and (max-width: 768px) {
    .input_phoneNum{
        display: block;
    }
}