.container {
  background-color: #F5F5F5;
  padding: 10px;
  margin: 10px 70px;
}

.menu_list  a,i {
  margin-right : 20px;
}

.item_box {
  display: flex;
}
.menu_list {
  display: block;
  margin: 10px 50px;
}

.item_pic {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 400px;
  height : 360px;
  margin : 20px;
  padding: 5px;
  box-sizing: border-box;
  border : 1px solid #EEEBEA;
}

.pic_btns {
  display: flex;
  justify-content: center;
}

.pic_btn {
  background-color: #EEEBEA;
  width: 12px;
  height : 12px;
  border-radius: 90px;
  margin-left : 10px;
  border : 1px solid #959190;
  cursor: pointer;
}

.pic_btn:hover {
  background-color: #3D8361;
}

.selected {
  background-color: #3D8361;
}

.item_pic > img {
  background-size: cover;
  width : 400px;
  height: 360px;
}

.pics {
  display: none;
}

.item_info {
  margin : 20px;
  padding: 5px;
  width: 50vw;
}

.item_title > h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin : 0;
} 

.item_price {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.item_price > p {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.item_price p:nth-child(2){
  margin-left: 10px;
  margin-right: 10px;
}

.hr-light {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.item_view {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item_view > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin:0;
  color: rgba(0, 0, 0, 0.5);
}

.item_details > ul {
  display : block;
}

.item_details i {
  margin: 0px;
}

.item_details {
  margin: 28px 0;  
}

.item_details > li {
  list-style: disc;
  height: 6vh;
  font-weight: 400; 
  font-size: 18px;
  color: #545454;
}

.item_details_text {
  margin-left: 20px;
  color: #000000;
}

.item_details_date {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1C6758;
  letter-spacing: 5px;
}

.item_buttons {
  display: flex;
  justify-content: center;
}

.mid_btn {
  height: 60px;
  width: 180px;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.04);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin : 10px;
  cursor:pointer;
}

.mid_btn:hover {
  color :#FFBF00;
}

#love, #love_btn {
  background-color: #F00E0E;
}

#chat {
  background-color: #545454;
}

#apply {
  background-color: #1C6758;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin : 0;
}

.item_box {
  margin: 0 30px;
}

.item_box > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#price_font {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.lender_info {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-left: 50px;
}

.lender_info > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lender_portrait {
  width : 30px;
  height : 30px;
  border-radius: 90px;
  margin-right : 10px;
}

.item_memo {
  margin: 20px 50px;
}

.item_memo > h2 {
  margin: 0px;
}

.item_requested {
  width : 100%;
  height : 90px;
  background-color: #EEEBEA;
  border-radius: 10px;
  text-align: center;
  padding : 25px;
  box-sizing: border-box;
}

.item_requested > p {
  margin :0;
}

.item_requested > p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1C6758;
}

.item_requested > p:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #545454;
}

#returnDay {
  color: #1C6758;
}

#wait {
  margin-top: 10px;
}

.reject_button {
  text-align: center;
}

.modal {
  display: none;
  padding: 70px 100px;
  width: 568px;
  height: 374px;  
  background: #F5F5F5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.modal_btn > button {
  width: 90px;
  height: 65px;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top : 60px;
  cursor: pointer;
}

.modal_ok_btn {
  background: #F00E0E;
  margin: 10px;
}

.modal_close_btn {
  background: #959190;
}


.modal > p:nth-child(1) {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0px;
}

.modal > p:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #959190;
  margin-top : 10px;
}

.favorite {
  color : pink;
}