* {
    font-family: 'Inter';
    font-style: normal;
  }

  /*여기서부터 내가한거*/
  
  form {
    display: flex;
  }

  .item_register_box1 {
    width: 75%;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  .item_register_box1 div{
    height : 5em;
  }
  
  label {
    padding-right: 40px;
    box-sizing: border-box;
    width: 6em;
  }

  .container {
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px 70px;
  }

  #item_register li {
  
  }

  li {
    font-size: 20px;
    padding : 10px 20px;
  }

  .item_body_title {
    display: flex;
  }

  .barrow_clipboard{
    height: 40px;
    width: 40px;
    margin: 10px;
    padding : 10px;
  }

  .item_body {
    height: auto;
  }

  .hr-normal {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hr-light {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .item_register_flex {
    display : flex;
    vertical-align: middle;
    align-items: center;
    width : 80%;
  }

  input {
    padding : 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size :15px;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size :15px;
    padding: .8em .5em; 
  }

  input[type="radio"] {
    accent-color: #1C6758;
  }

  input[type="radio"] > li{
    font-size: 10px;
  }

  .radio_types {
    display: flex;
    align-items: center;
  }

  .radio_types li {
    padding: 0px;
    font-size: 15px;
    display: flex;
  }

  .radio_types label {
    padding: 0px;
    width : 4em;
  }

  .calendar {
    display: flex;
  }

  .item_body{

  }

  #hidden_button{
    display : none;
  }

  .submit_button{ 
    text-align: center;
  }

  .pic_box{
    background-color: #EEEBEA;
    width : 230px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 17px;
    margin : 30px;
  }

  .pic_body {
    width : 35%;
    display : flex;
    align-items: center;
    flex-direction: column;
  }

  #title, #area{
    width : 40vw;
  }

  .memo > li {
    display: flex;
  }

  .item_register_flex > li {
    display: flex;
    align-items: center;
  }

  #type {
    margin-left: auto;
    margin-right: 10%;
  }

  .memo {   
    width : 80%; 
    margin-top: 10px;
    display : flex;
    height: auto;
    margin-bottom: 15px;
  }
  #memo {
    width: 40vw;
    white-space: pre-wrap;
    padding : 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size :15px;
    resize: none;
    height: 100px;
  }

.word {
  padding-left: 5px;
  padding-right: 5px;
  margin-right : 10px;
}

.submit_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
#submit_button {
  margin:20px;
  background: #3D8361;
  border-radius: 20px;
  color: #F5F5F5;
  border: none;
  height:60px;
  width: 300px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

#submit_button:hover{
  color :#FFBF00;
}

#area_btn:hover {
  color :#FFBF00;
}

.small_btn {
  background: #1C6758;
  border-radius: 10px;
  color: #F5F5F5;
  border: none;
  width:100px;
  height:30px;
  cursor: pointer;
}

.small_btn:hover{
  color :#FFBF00;
}

#area {
  width : 15vw;
}

#area_detail {
  width : 17.5vw;
}

#area_btn {
  margin : 0 10px;
  padding : 5px;
  border: none;
  border-radius: 10px;
  background: #3D8361;
  color: #F5F5F5;
  height : 40px;
  cursor: pointer;
  width : 50px;
}
