/*여기서부터 내가한거*/

.container {
  background-color: #F5F5F5;
  padding: 10px;
  margin: 10px 70px;
  height: auto;
}

.item_box{
  width: 90%;
  height: fit-content;
  background: #F5F5F5;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.04);
  margin-left : auto;
  margin-right: auto;
  display: flex;
}

.item_pic {
  width : 230px;
  height: 180px;
  margin : 20px;
  padding: 5px;
  border : 1px solid #EEEBEA;
}

.item_pic > img {
  width : 230px;
  height: 180px;
}

.item_info {
  width : 80%;
  display : block;
  padding-top: 20px;
  padding-left: 20px;
}
.item_price {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 20px;
}

.item_price > p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.item_details {
  display : flex;
  flex-flow : row wrap;
  padding-top: 8px;
}

.item_details > li {
  list-style: disc;
  height: 5vh;
  font-weight: 400; 
  font-size: 18px;
  color: #545454;
}

.item_details > li:nth-child(1) {
  width: 23em;
}

.item_details > li:nth-child(3) {
  width: 30vw;
}

.item_details i {
  margin: 0px;
}

.item_details_text {
  margin-left: 20px;
  color: #000000;
}

.item_details_date {
  display: inline-block;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1C6758;
  letter-spacing: 5px;
}

.item_title > h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 29px;
  color: #000000;
  margin-top : 15px;
  margin-bottom: 5px;
  margin-right : 15px;
}

#price_font {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hr-light {
  background-color: rgba(0, 0, 0, 0.1);
}

.lent_apply{
  margin: 20px;
  padding : 10px;
}

.lent_apply_title > h1{
  font-size: 30px;
}

.lent_apply_detail {
}

.lent_inform {
  width : 700px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.lent_days{
  display : flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom : 20px;
}

.word{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.7);
  margin-right : 20px
}

.lent_type{
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.lent_inform li {
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  margin-right : 5vw;
}

input[type="date"] {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 30px;
  margin-right: 20px;
  padding: 10px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin : 0 10px 0 0;
}

.lent_type > label {
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 18px;
  line-height: 15px;
  margin-right : 10%;
}

.lent_total_price {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-top : 50px;
  margin-bottom: 50px;
}

.lent_total_price > span {
  margin-right : 20px;
  margin-left : 20px;
}

.lent_inform_text {
  text-align: center;
}

#form_submit_btn {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

#submit_btn {
  background: #1C6758;
  color: #FFFFFF;
  border: 0px;
  margin-right : 5vw;
}

#submit_btn:hover {
  color :#FFBF00;
}

#reject_btn {
  color: #1C6758;
  background-color: #FFFFFF;
  border: 0px;
  border: 1px solid #1C6758;
}

#reject_btn:hover {
  color : #F00E0E;
}


input[type="checkbox"]{
  accent-color: #1C6758;
  width: 20px;
  height: 20px;
}

.datepicker {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 30px;
  margin-right: 20px;
  padding: 10px;
  box-sizing: border-box;
}

/*datepicker*/
.ui-datepicker-trigger{cursor: pointer;}
.hasDatepicker{cursor: pointer;}
.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1px solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

 .ui-datepicker-calendar { width: 100%; } 

 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

 .ui-widget-header .ui-icon { background-image: url('/static/img/img/btns.png'); } 

 .ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

 .inp:focus { outline: none; background-color: #eee; } 