#contentWrap{
    padding-left: 10px;
    height: 90vh;
}

#contentBox{
    background-color: white;
    border-radius: 10px;
    padding: 150px 100px;
}

#editPwStartBox{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 30px 20px;
}

#editPwFirstTitle{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}

#editPwSecondTitle{
    font-size: 15px;
    color:rgb(134, 134, 134);
    margin-top: 10px;
}

#editPwInput{
    width: 100%;
    margin-top: 30px;
}

#editPwInput input{
    width: 90%;
    height: 40px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 15px;
    font-size: 15px;
    padding-left: 15px;
}

#editPwInputBtWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}

#editPwInputBtWrap button{
    margin: 0 8px;
}

#checkBt{
    background-color: red;
    border: 0;
    border-radius: 10px;
    padding: 12px 18px;
    color: white;
    font-weight: 600;
}

#backBt{
    background-color: rgb(110, 110, 110);
    border: 0;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}