#contentWrap{
    padding-left: 10px;
    height: 90vh;
}

#contentBox{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

#contentTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contentBoxBody{
    display: flex;
    flex-direction: row;
}

#contentRealTitle{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
}

#threeCheckBtWrap{
    margin-left: 20px;
}
#threeCheckBtWrap button{
    cursor: pointer;
}
#totalCheckBt{
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    color: green;
}

#notTotalCheckBt{
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    color: rgb(85, 85, 85);
}

#deleteBt{
    padding: 5px 22px;
    border: 0;
    border-radius: 10px;
    color: red;
}

#titleUnderBar{
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: rgb(154, 154, 154);
}

#contentBody{
    display: grid;
    grid-template-rows: 50% 50%;
}

#contentTopBody, #contentBottomBody{
    display: grid;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#objectBox{
    width: 100%;
    padding: 35px 10px;
}

#object2Box{
    padding: 10px 10px;
}

#objectImg{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#firstObjectBox{
    border: 1px solid silver;
    border-radius: 10px;
    position: relative;
}

#firstObjectBox input{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    border-radius: 15px;
    left: 15px;
    top: 15px;
    background-color: white;
}

#firstObjectBox input:checked {
    background: #3D8361;
    padding: 5px;
    border: none;
  }
#nameObject{
    font-size: 15px;
}

#greenIcon{
    margin-top: 5px;
}

#priceWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#priceDetail{
    display: flex;
    flex-direction: row;
}