#contentWrap{
    padding-left: 10px;
    height: 88vh;
}

#contentBox{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

#contentTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contentRealTitle{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;;
}

#titleUnderBar{
    width: 100%;
    height: 1px;
    background-color: rgb(154, 154, 154);
    margin-top: 10px;
}

#contentBody{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

#content_body_1{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 90%;
    padding: 20px 0px;
    box-sizing: border-box;
}

#content_body_1 input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(235, 235, 235);
}

#contentName{
    font-size: 25px;
    display: flex;
    align-items: center;
}

#contentAddressBox{
    display: flex;
    flex-direction: row;
}

#contentPwBt{
    cursor: pointer;
    padding: 10px 40px;
    border: 0;
    border-radius: 3px;
    background-color: #3D8361;
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

#contentAddressBt{
    padding: 7px 20px;
    border: 0;
    border-radius: 3px;
    background-color: #3D8361;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 15px;
}

#content_body_2{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

#content_body_2 button{
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}