#contentWrap{
    padding-left: 10px;
    height: 90vh;
}

#contentBox{
    background-color: white;
    border-radius: 10px;
    height: 550px;
    padding: 30px;
    box-sizing: border-box;
    overflow: scroll;
}

#contentTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contentRealTitle{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
}

#titleUnderBar{
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: rgb(154, 154, 154);
}

#contentBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountBox{
    width: 70%;
    margin: auto 0;
}

#accountBoxTitle{
    height: 40px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    background-color: rgb(7, 7, 71, 0.6);
}

#accountInfoBox{
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(154, 154, 154);
}

#inputBt{
    padding: 5px 40px;
    border: 0;
    border-radius: 0;
    color: white;
    margin-top: 8px;
    margin-right: 10px;
    background-color: rgb(7, 7, 71, 0.6);
}

#exitBt{
    padding: 5px 40px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 0;
    background-color: white;
    margin-left: 10px;
} 

#accountInfoWrap{
    width: 90%;
    margin: 10px auto 30px auto;
    border: 1px solid rgb(186, 185, 185);
    display: grid;
    grid-template-rows: 20% 20% 30% 30%;
}

#accountIn{
    display: grid;
    grid-template-columns: 30% 70%;
}

#accountIn input{
    height: 20px;
    border: 1px solid silver;
}

#secondAccountInfo select{
    height: 25px;
    width: 200px;
    border: 1px solid silver;
}

#firstAccountInfo{
    display: flex;
    align-items: center;
    padding: 15px 0 20px 10px;
    background-color: #EEEBEA;
    box-sizing: border-box;
}

#secondAccountInfo{
    padding: 15px 0 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#secondAccountInfo p{
    font-size: 13px;
    margin-top: 2px;
    color: silver;
}

#accountBtBox{
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgb(154, 154, 154);
}

#inputBt{
    padding: 5px 40px;
    border: 0;
    border-radius: 0;
    color: white;
    margin-right: 10px;
    background-color: rgb(7, 7, 71, 0.6);
}

#exitBt{
    padding: 5px 40px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 0;
    background-color: white;
    margin-left: 10px;
} 